body{
	font-family: Georgia;
	font-size: 25px;
	color: #555;
	background-color: #fff;
}

h4{
	margin-bottom: 10px;
}

#radioLabels{
    cursor: pointer;  
}

.tableElement, .tableTitle{
	display: table-cell; 
	vertical-align: middle;
}
.timeLabel{
	font-family: Lucida Console;
	font-size: 25px;
}

.breathe{
	background-color: #99E699;
}

.hold{
	background-color: #FF9494;
}