body{
	font-family: Georgia;
	font-size: 13px;
	color: #555;
	background-color: #fff;
}

a{
	text-decoration: none;
}

label{
	font-size: 20px;
	font-weight: 800;
	line-height: 30px;
}

h1{
	margin: 20px 0px 0px 0px;
}

h4{
	margin-bottom: 10px;
}

p{
	font-size: 15px;
}

footer{
	text-align: center;
}

#menu{
	margin: 10px;
	font-family: Georgia;
	font-size: 25px;
	color: #555;

	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#radioLabels{
    cursor: pointer;  
}

.tableElement, .tableTitle{
	display: table-cell; 
	vertical-align: middle;
}
.timeLabel{
	font-family: Lucida Console;
	font-size: 25px;
	font-weight: 500;
}

.breathe{
	background-color: #99E699;
}

.hold{
	background-color: #FF9494;
}
.customTimeLabels{
}