

<ion-view view-title="About">
	<ion-content class="has-header">
		<div class="card">
			<div class="item item-divider">
				About This App
			</div>
			<div class="item item-text-wrap">
				<h2>CO<sub>2</sub> Tolerance Table</h2>
				<p>
					This table increases your body’s acceptance to higher levels of Carbon dioxide (CO<sub>2</sub>) in your blood.
					A certain CO<sub>2</sub> level in your blood triggers your breath. The higher the CO<sub>2</sub> tolerance the lower your urge to breathe. The values of this table can be changed via your <b>Maximum Breath Hold Time</b>.
				</p><br>
				<h2>O<sub>2</sub> Deprivation Table</h2>
				<p>
					This table helps you to deal with low levels of Oxygen (O<sub>2</sub>) in your blood. Holding your breath reduces the O<sub>2</sub> level in your blood. It is imperative to train your body to low oxygen consumption when holding your breath. The values of this table can be changed via your <b>Maximum Breath Hold Time</b>
				</p><br>
				<h2>Adjustment of the Tables</h2>
				<p>
					The O<sub>2</sub> Deprivation table and the CO<sub>2</sub> Tolerance table can be adjusted to your personal results.
					<ul class="bullet-list">
					  <li>Access the <b>MENU</b></li>
					  <li>Select <b>SETTINGS</b></li>
					  <li>Change the <b>Maximum Breath Hold Time</b> via the up and down arrows or via the slider</li>
					</ul>
				</p><br>
				<h2>Personal Table</h2>
				<p>
					In order to create your personalized table:
					<ul class="bullet-list">
					  <li>Access the screen <b>TABLES</b></li>
					  <li>Tap on the white “+” sign on the top right corner</li>
					  <li>Change the <b>Maximum Breath Hold Time</b> via the up and down arrows or via the slider</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Notes from the developer
			</div>
			<div class="item item-text-wrap">
				<p>Hi!</p>
				<p>
					I am Luca Naterop, 25 years old, a student who created this app as a hobby project. I originally started because there were no satisfying apps out there and I wanted bring my own static times to the next level. Since I am not a professional developer, you might encounter some bugs in this app. If you are interested in improving this app, please reach out to me and let me know what issues you have encountered. Also, if you have suggestions, comments, or feature requests, write to me. I will have an open ear for you. 
				</p>
				<p>
					Note that this app is still under active development. Some features will therefore likely change in upcoming versions.
				</p>
				<br>
				<a href="mailto:luca@naterop.net" class="button button-dark icon-left ion-email">Contact Developer</a>
				<br><br>
				<p>Luca Naterop</p>
				<p>luca@naterop.net</p>
				<p>Zürich, 2016</p>
			</div>
		</div>
	</ion-content>
</ion-view>



