

<ion-view view-title="Configure">
	<ion-content class="has-header">

		<div class="padding">
			<h3> Maximum breath hold time</h3>
			<p>O2 and CO2 tables are being automatically calculated from this value. It is therefore important to set it to your actual maximum breathhold duration to get the most out of this application. Dont' know your maximum breath hold time? Switch to the "Hold" menu point to test your breathhold duration. </p>
		</div>
		
		<div style="text-align: center">
			<h1 style="font-family: Courier New; font-size: 70px">{{configure.maxTime | humanizeTime}}</h1>
		</div>

		<div style="text-align: center">
			<a class="button button-icon icon ion-arrow-up-b" ng-click="configure.up()"></a>
			<div class="range range-positive">
				<input type="range" name="volume" min="20" max="480" step="10" ng-model="configure.maxTime">
			</div>
			<a class="button button-icon icon ion-arrow-down-b" ng-click="configure.down()"></a>
		</div>

		<div class="padding">
			<h3>Notifications</h3>
			<p>Maximum relaxation is what you want to achieve. Thus, notifications should be reduced to a minimum. It is recommended to mute the application and use vibration, because that allows you to close your eyes and even not pay attention to your hearing, which can result in maximum relaxation. You can also have a voice remind you of how much time is left. Use the settings to adjust the notification behaviour to your preferences. </p>
		</div>

		<!--
		<div class="range range-positive">
			<i class="icon ion-volume-low"></i>
				<input id='volume' type="range" name="volume" ng-model="configure.volume">
			<i class="icon ion-volume-high"></i>
		</div>
		-->
		
		<div class="card list">			
			<div class="item item-divider">Type</div>
			<ion-toggle ng-model="configure.mute" toggle-class="toggle-positive">Voice</ion-toggle>
			<ion-toggle ng-model="configure.vibrate" toggle-class="toggle-positive">Vibrate</ion-toggle>
			<div class="item item-divider">When?</div>
			<ion-toggle ng-model="configure.sec60" toggle-class="toggle-positive">60 seconds</ion-toggle>
			<ion-toggle ng-model="configure.sec45" toggle-class="toggle-positive">45 seconds</ion-toggle>
			<ion-toggle ng-model="configure.sec30" toggle-class="toggle-positive">30 seconds</ion-toggle>
			<ion-toggle ng-model="configure.sec15" toggle-class="toggle-positive">15 seconds</ion-toggle>
			<ion-toggle ng-model="configure.sec10" toggle-class="toggle-positive">10 seconds</ion-toggle>
			<ion-toggle ng-model="configure.countfrom5" toggle-class="toggle-positive">count down from 5 seconds</ion-toggle>
		</div>

		<div class="padding">
			<h3>Reset</h3>
			<p>Allows you to reset this app's settings and tables to the factory state.</p>
		</div>
		<button class="button button-full button-assertive" ng-click="configure.reset()">Reset</button>
		<br>
	</ion-content>
</ion-view>


