<ion-modal-view>
    
    <ion-header-bar class="bar-default">
        <h1 class="title">Create custom table</h1>
        <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
    </ion-header-bar>

    <ion-content class="padding">
		<div class="list">

			<label class="item item-input">
				<input id='tableName' type="text" placeholder="Enter a name for the table" ng-model="tableName"><br>
			</label>

			<div class="table">
				<div class="row">
					<div class="col">Breathe</div><div class="col ">Hold</div>
				</div>

				<div class="row" ng-repeat="i in getNumber(amountOfRows) track by $index">
					<div class="col">
						<label class="item item-input"><input class="duration" type="number" placeholder="seconds" max="1800"></label>
					</div>
					<div class="col">
						<label class="item item-input"><input class="duration" type="number" placeholder="seconds" max="1800"></label>
					</div>
				</div>
								
				<div style="text-align: center"><button id="addRow" class="button button-positive button-clear icon-left ion-plus-round" ng-click="addRow()"> Row </button></div>
			</div>
			<br>
			<div class="padding">
				<button id="save" class="button button-positive button-block" ng-click="save(tableName)"> Save table </button>
			</div>
			<div style="height: 50px"></div>
		</div>
    </ion-content>
</ion-modal-view>
