
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.yellow{
	background-color: yellow;
}

.at-link{
	display: block;
	margin-top: 10px;
	font-size: 20px;
}